.card {
    width: 100%;
    padding-bottom: 100%; /* This creates a square shape based on the width */
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 16px; /* Add spacing between the cards */
    transition: transform 0.3s ease; /* Add transition effect */
  }
  
  .card:hover {
    transform: scale(1.05); /* Increase size on hover */
  }
  
  .card-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .card-image {
    width: 100%;
    height: 400%;
    max-height: 100px; 
    max-width: 100px;/* Adjust the maximum height as per your design */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }